<p>
  <% @candidates = User.where(:role=> "candidate")%>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email </th>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate|%>
      <tr>
        <td><%= link_to candidate.first_name, admin_candidate_jobs_path(candidate) %></td>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.email %></td>
      </tr>
      <% end %>
    </tbody>
      
  </table>
</p>
