<div class="banner">
  <header>
    <a class="logo" href="javascript:void(0)"><img src="/assets/logo.png" alt=""></a>
    <div class="pull-right">
      <a href="javascript:void(0)" class="btn btn-success">REGISTER</a>
      <a href="javascript:void(0)" class="btn btn-info">Login</a>
      <a href="javascript:void(0)" class="btn btn-default"><i class="fa  fa-search"></i></a>
      <a href="javascript:void(0)" class="btn navi btn-default"><i class="fa fa-bars"></i></a>
    </div>    
  </header>
  <div class="content">
    <h1>Change the <br>way you Recruit</h1>
    <p>More recruitment tools, features, better execution with simple clicks</p>
    <p>You need to get a head start in the Recruitment markets today</p>  
    <a href="#" class="btn btn-info btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
  </div>
</div>
<div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <h1>Global market access from one account</h1>
        <p>Saxo brings to the market one of the most comprehensive offerings of any online investment bank, both across asset classes and covering the entire globe. All accessible cross-device and from a single account.</p>
        <br><a href="javascript:void(0)" class="btn btn-info btn-lg">View all products <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-6">
        <ul class="bx_link">
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        <li><a href="javascript:void(0)">Equities</a></li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner bg_bann" role="listbox">
      <div class="item slide-1 active">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>SaxoSelect Balanced Portfolios</h2>
              <h3>3 portfolios, endless potential</h3>
              <p>By combining iShares ETFs and investment research from BlackRock with our leading trading technology we are introducing* a selection of smart portfolios that offer you an easy choice for your investments.</p>
              <br>
              <p>*Now available in the following countries: Denmark, Sweden, Norway, Finland, Netherlands and Italy</p>
              <br><br>
              <a href="#" class="btn btn-info btn-lg">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="item slide-2">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>SaxoSelect Balanced Portfolios</h2>
              <h3>3 portfolios, endless potential</h3>
              <p>By combining iShares ETFs and investment research from BlackRock with our leading trading technology we are introducing* a selection of smart portfolios that offer you an easy choice for your investments.</p>
              <br>
              <p>*Now available in the following countries: Denmark, Sweden, Norway, Finland, Netherlands and Italy</p>
              <br><br>
              <a href="#" class="btn btn-info btn-lg">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>  
      </div>    
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 m_t50">
          <div class="media"> 
            <div class="media-left"> 
              <a href="#"> <i class="fa fa-window-restore fa-6"></i> </a> 
            </div> 
            <div class="media-body"> 
              <h4 class="media-heading">Cross device capability</h4>
              <p>Desktop, tablet or smartphone, move seamlessly between devices, always keeping your account information and trades up-to-date.</p>
            </div> 
          </div>
        </div>
        <div class="col-md-6 m_t50">
          <div class="media"> 
            <div class="media-left"> 
              <a href="#"> <i class="fa fa-window-restore fa-6"></i> </a> 
            </div> 
            <div class="media-body"> 
              <h4 class="media-heading">Cross device capability</h4> 
              <p>Desktop, tablet or smartphone, move seamlessly between devices, always keeping your account information and trades up-to-date.</p>
            </div> 
          </div>
        </div>
        <div class="col-md-6 m_t50">
          <div class="media"> 
            <div class="media-left"> 
              <a href="#"> <i class="fa fa-window-restore fa-6"></i> </a> 
            </div> 
            <div class="media-body"> 
              <h4 class="media-heading">Cross device capability</h4>
              <p>Desktop, tablet or smartphone, move seamlessly between devices, always keeping your account information and trades up-to-date.</p>
            </div> 
          </div>
        </div>
        <div class="col-md-6 m_t50">
          <div class="media"> 
            <div class="media-left"> 
              <a href="#"> <i class="fa fa-window-restore fa-6"></i> </a> 
            </div> 
            <div class="media-body"> 
              <h4 class="media-heading">Cross device capability</h4>
              <p>Desktop, tablet or smartphone, move seamlessly between devices, always keeping your account information and trades up-to-date.</p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
